
<form id="logout" action="/logout" method="get">
        <table id="bienvenido" style="margin-left: 100px; width: 1000px; height: 55px" class="table table-striped table-bordered table-secondary">
        <button  id="desloguearse" style="position: absolute; margin-top: -200px; margin-left: 980px; " class="btn btn-success mt-3 mb-5">Desloguearse</button>
        </table>
</form>

<form id="infoSistema" action="/infoList" method="get">
        <button id="infoSistema" style="margin-left: 900px; display: block" class="btn btn-success mt-3 mb-5"   type="submit" >Información del Sistema</button>
</form>

        
<h1 style="color:rgb(156, 156, 196);">Ingrese datos del producto</h1>
<br>

<form id="formulario" action="/productos" method="post">

    <div class="form-group">
        <label for="title"><b>Nombre del Producto: </b></label>
        <input id="title" class="form-control" type="text" name="title" style="width:500px">
    </div>

    <div class="form-group">
        <label for="price"><b>Precio: </b></label>
        <input id="price" class="form-control" type="text" name="price" style="width:500px">
    </div>

    <div class="form-group">
        <label for="thumbnail"><b>Imágen: </b></label>
        <input id="thumbnail" class="form-control" type="text" name="thumbnail" style="width:500px">
    </div>

  
    <button id="enviar" class="btn btn-success mt-3 mb-5" type="submit">Enviar</button>

    <span id="chat" style="position: absolute; margin-top: -310px; margin-left: 510px;">
        <h1>CHAT</h1>
        <h5>E-mail: <input id="email" type="text"> </h5>
        <h5>Nombre: <input id="nombre" type="text"> </h5>
        <h5>Apellido: <input id="apellido" type="text"> </h5>
        <h5>Edad: <input id="edad" type="text"> </h5>
        <h5>Alias: <input id="alias" type="text"> </h5>
        <h5>Avatar: <input id="avatar" type="text"> </h5>
        <h5>Mensaje: <input id="text" type="text"> </h5>
        <button id="enviarchat" type="button" >Enviar</button>
        <br><br>
        <table id="mensajesChat" style="width: 580px" class="table table-striped table-bordered table-secondary">
        </table>
    </span>
    
    <script src="js/index.js"></script>

</form>

    <table style="width: 500px" id="parrafo" class="table table-striped table-bordered table-secondary">

    <table style="width: 500px" id="productosFake" class="table table-striped table-bordered table-secondary">

    <button class="btn btn-success mt-3 mb-5" onclick="location.href='/productos/'">Ver Productos</button>




