<h1 style="color:rgb(156, 156, 196);">Ingrese datos del producto</h1>
<br>

<form action="/productos" method="post">

    <div class="form-group">
        <label for="title"><b>Nombre del Producto: </b></label>
        <input id="title" class="form-control" type="text" name="title">
    </div>

    <div class="form-group">
        <label for="price"><b>Precio: </b></label>
        <input id="price" class="form-control" type="text" name="price">
    </div>

    <div class="form-group">
        <label for="thumbnail"><b>Imágen: </b></label>
        <input id="thumbnail" class="form-control" type="text" name="thumbnail">
    </div>

  
    <button class="btn btn-success mt-3 mb-5" onclick="location.href='http://localhost:8080/'">Enviar</button>

</form>
    <button class="btn btn-success mt-3 mb-5" onclick="location.href='http://localhost:8080/productos'">Ver Productos</button>
