<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso Backend</title>
    <body style="background-color: rgb(79, 159, 170);">

    <div className="flex flex-center">
        <div className="orden">
        <form action="http://localhost:8080/api/productos" method="post">    
        <h1><strong>Ingrese los datos del Producto: </strong> </h1>
        <br></br>
        <label>Nombre del Producto: </label>         
        <input type="text" name="title" placeholder="Nombre del Producto" class="mt-20 input input-bordered w-full max-w-xs" />   
        <br></br>
        <br></br>
        <label>
            Precio:
            <input type="text" name="price" placeholder="Precio" class="input input-bordered w-full max-w-xs" />    </label>
        <br></br>
        <br></br>
    
        <label>
            Imágen:
            <input type="text" name="thumbnail" placeholder="Imágen" class="input input-bordered w-full max-w-xs" />    </label>

        <br></br>
        <br></br>
        <Button type="submit" className="botonenviar">Enviar</Button>      

        </form>
    
        </div>
    
</body>
</html>