<form id="infoSistema" action="/info" method="get">
    <table style="width: 500px" id="infoSistema" class="table table-striped table-bordered table-secondary"></table>
    <script src="js/infoSistema.js"></script> 
</form>

<button class="btn btn-success mt-3 mb-5" style="background-color: rgb(35, 35, 139);"
    onclick="location.href='http://localhost:8080/'">Volver a Inicio</button>
 