<form id="login" action="/formulario/login" method="POST">
        <label for="usuario" style="margin-left: 900px; display: block" ><b>Nombre de Usuario: </b></label>
        <input id="usuario" style="margin-left: 900px; width:220px; display: block"  type="text" name="usuario">
        <button id="ingresar" style="margin-left: 900px; display: block" class="btn btn-success mt-3 mb-5"   type="submit" >Ingresar</button>
</form>