<form id="login" action="/formulario/login" method="POST">
        <h1 style="margin-left: 150px"><strong>Login de Usuario</strong></h1>
        <br>
        <label for="username" style="margin-left: 150px; display: block" ><b>E-mail: </b></label>
        <input id="username" placeholder="E-mail: ejemplo@gmail.com" style="margin-left: 150px; width:220px; display: block"  type="text" name="username">
        <label for="password" style="margin-left: 150px; display: block" ><b>Contraseña </b></label>
        <input id="password" type="password" style="margin-left: 150px; width:220px; display: block"  type="text" name="password">
        <button id="ingresar" style="margin-left: 150px; display: block" class="btn btn-success mt-3 mb-5"   type="submit" >Ingresar</button>
</form>

<form id="registro" action="/registro" method="get">
        <button id="registro" style="margin-left: 150px; display: block" class="btn btn-success mt-3 mb-5"   type="submit" >Ir a Register</button>
</form>

<form id="infoSistema" action="/infoList" method="get">
        <button id="infoSistema" style="margin-left: 150px; display: block" class="btn btn-success mt-3 mb-5"   type="submit" >Información del Sistema</button>
</form>



