<form id="registro" action="/formulario/registro" method="post">
        <h1 style="margin-left: 150px"><strong>Registro de Usuario</strong></h1>
        <br>
        <label for="username" style="margin-left: 150px; display: block" ><b>E-mail: </b></label>
        <input id="username" placeholder="E-mail: ejemplo@gmail.com" style="margin-left: 150px; width:220px; display: block"  type="text" name="username">
        <label for="password" style="margin-left: 150px; display: block" ><b>Contraseña </b></label>
        <input id="password" type="password" style="margin-left: 150px; width:220px; display: block"  type="text" name="password">
        <button id="registrar" style="margin-left: 150px; display: block" class="btn btn-success mt-3 mb-5"   type="submit" >Registrar</button>
</form>



<form id="login" action="/login" method="get">
        <button id="login" style="margin-left: 150px; display: block" class="btn btn-success mt-3 mb-5"   type="submit" >Ir a Login</button>
</form>

